@keyframes design-opacity {
    0%   {opacity: 100%;}
    32%  {opacity: 100%;}
    33%  {opacity: 40%;}
    100%  {opacity: 40%;}
}

@keyframes develop-opacity {
    0%   {opacity: 40%;}
    32%  {opacity: 40%;}
    33%  {opacity: 100%;}
    65%  {opacity: 100%;}
    66%  {opacity: 40%;}
    100%  {opacity: 40%;}
}

@keyframes access-opacity {
    0%   {opacity: 40%;}
    65%  {opacity: 40%;}
    66%  {opacity: 100%;}
    100%  {opacity: 100%;}
}

#headshot {
    border-radius: 50%;
    box-shadow: 5px 5px;
}

.highlight {
    text-align: center;
}

a {color: #e5b9eb;}

a:hover {color: #b46abd;}

.design {
    animation-name: design-opacity;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.develop {
    animation-name: develop-opacity;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.access {
    animation-name: access-opacity;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.values > * {margin-bottom: 10px;}

html > * {
    background: #671a6f;
}

.landing {
    height: 90vh;
}

h1, h2, h3, h4, p {color: #fff}

.navbar-fix {padding-bottom: 60px;}

.experience {
    align-items: baseline;
}

footer, .row-home{
    margin-top: 2vh;
	border: none;
}

footer p {color: #c9c9c9;}