/* *****************
Base styles
***************** */

img {
	height: auto;
}

h1 {font-size: 60px;}

h1, h2, h3, h4, legend {color: #671a6f;}

p {
	padding: 7px;
	line-height: 1.7em;
}

ul.nav {
	list-style: none;
	padding-left: 5px;
}

li {
	margin-top: 5px;
}

legend{font-size: 32px;}

.row {padding: 10px;}

.form-row {margin-bottom: 10px;}

h2.col-md-9, h3.right-align {margin-top: 60px;}

a {font-weight: 500;}


/* *****************
Layout styles
***************** */

.col-md-4 {
	padding-right: 20px;
	padding-left: 20px;
}

.page-top{margin-top: 10vh;}

.navbar-fix {padding-bottom: 80px;}

footer, .row-home{
	margin-top: 8vh;
	border-top: 5px solid #671a6f;
}

.navbar-collapse .nav-item {
	width: 100%;
	text-align: center;
}

.resume {
	width: 80vw;
	max-width: 950px;
}

#capstone-heading {
	align-items: center;
}

/* *****************
Module styles
***************** */

.shadow-lg{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.575) !important;
}

.nav-item {padding: 10px;}

.download-link, .navbar-brand {
	display: flex;
	align-items: center;
	justify-content: right;
}

.contact {
	display: flex;
}

.contact > * {
	width: auto;
}

.download-link > :first-child{
	margin-right: 10px;
}

.navbar-brand > :first-child {
	margin-right: 5px;
}

.form-label {text-align: right;}

footer p {margin: 0;}

h3.right-align {text-align: right;}

.nav-fill {
	margin-top: 20px;	
	border-bottom: 2px solid #671a6f;
	border-top: 2px solid #671a6f;
}

.nav-fill .nav-link {
	color: #671a6f;
	letter-spacing: 4px;
	font-size: 18px;
}

img.d-block.w-100 {padding: 0px;}

img.shadow {padding: 0px;}

.shadow {padding: 0px;}

.icon-nav {margin: 10px;}

/* *****************
State styles
***************** */

a.nav-link.active:hover {opacity: 50%;}

a.dropdown-item.active {background-color: #671a6f;}

a.dropdown-item:hover {
	background-color: none;
	opacity: 70%;
	text-decoration: underline;
}